openapi: 3.0.1
info:
  title: Exclaimer Cloud API — End Users
  version: '1'
  description: The End Users operations of the Exclaimer Cloud API, the partner/distributor provisioning
    API for Exclaimer Cloud tenants. Split by tag from the provider-published OpenAPI at https://cloudapi.exclaimer.com/openapi.json
    (documentation version 5.2, published 2025-07-23). Operation content is carried verbatim from the
    source specification.
servers:
- url: https://cloudapi.exclaimer.com/exclaimerapi
  description: Local
tags:
- name: End Users
paths:
  /1.0/end-users:
    put:
      tags:
      - End Users
      summary: Add/Update End User
      description: This request allows you to store custom user details within the Exclaimer Cloud service.
        <p> If a user with the <b>EndUserID</b> already exists, it will be updated; otherwise it will
        be created. </p>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddEndUser'
            examples:
              Basic usage:
                value: '{"EndUserID":"Brown","CompanyName":"Cloud Solutions Ltd","CountryCode":"GBR"}'
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request / Missing Field
        '401':
          description: Unauthorized
        '415':
          description: Unsupported Media Type
        '500':
          description: Internal Server Error
      x-documentation:
        curlExamples:
          Basic usage - cURL:
            description: /end-users
            value: '{"EndUserID":"EX-EndUser-001","CompanyName":"EX-Company-001","CountryCode":"USA"}'
    get:
      tags:
      - End Users
      summary: Get End Users
      description: This request will return details about each of your custom users.
      parameters:
      - name: Page
        in: query
        description: Page numbers start at 1. <p> See the section <b>"Paging of results"</b> at the beginning
          of the document.<br /> Results are ordered by the date the original subscription, or the custom
          user, was added. </p>
        schema:
          type: number
          format: int32
      - name: PageSize
        in: query
        description: Defaults to 50. Maximum 200. <p> See the section <b>"Paging of results"</b> at the
          beginning of the document.<br /></p>
        schema:
          type: number
          format: int32
      - name: ContinuationToken
        in: query
        description: A token that can be used to get the next page of results without supplying paging
          values.
        schema:
          type: number
          format: int32
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndUsersResponse'
              examples:
                Basic response:
                  value: '{"EndUsers":[{"EndUserID":"B-Taylor-01","CompanyName":"Kings Ltd","CountryCode":"DE"},{"EndUserID":"R-Collins","CompanyName":"Williams
                    & Co","CountryCode":"GBR"},{"EndUserID":"S-Crown-01-A","CompanyName":"Greys Ltd","CountryCode":"GBR"}],"EndUserCount":15,"ContinuationToken":26145,"Page":4,"PageSize":3}'
        '400':
          description: Bad Request / Missing Field
        '401':
          description: Unauthorized
        '415':
          description: Unsupported Media Type
        '500':
          description: Internal Server Error
      x-documentation:
        routeExamples:
          Basic usage:
            value: /end-users
          Paging:
            value: /end-users?Page=4&PageSize=3
        curlExamples:
          Subset of custom users defined by page and size - cURL:
            description: /end-users?Page=2&PageSize=2
            value: '{}'
components:
  schemas:
    AddEndUser:
      title: AddEndUserRequest
      required:
      - EndUserID
      - CompanyName
      - CountryCode
      properties:
        EndUserID:
          type: string
          description: Your reference for the user.
        CompanyName:
          type: string
          description: The name of the company.
        CountryCode:
          type: string
          description: The country code where the user is based.<br /> Specify in ISO 3166-1 alpha-2/alpha-3
            or numeric.
      description: This request allows you to store custom user details within the Exclaimer Cloud service.
        <p> If a user with the <b>EndUserID</b> already exists, it will be updated; otherwise it will
        be created. </p>
    EndUserResponse:
      title: EndUser
      properties:
        EndUserID:
          type: string
          description: Your reference for the custom user. This is the same ID you specified when the
            subscription was created via <b>Add Subscription</b>, or when calling <b>Add/Update End User</b>.
        CompanyName:
          type: string
          description: The name of the company.
        CountryCode:
          type: string
          description: The country code where the user is based.<br /> Returned as alpha-3 ISO 3166-1.
    EndUsersResponse:
      title: EndUsersResponse
      properties:
        EndUsers:
          type: array
          items:
            $ref: '#/components/schemas/EndUserResponse'
          description: If there are more custom users than the <b>PageSize</b>, then this will contain
            a subset of all custom users.
        EndUserCount:
          type: number
          description: The total number of custom users available. This is useful for when the number
            of custom users is greater than the current page size.
          format: int32
        ContinuationToken:
          type: number
          description: See the section <b>"Paging of results"</b> at the beginning of the document.
          format: int32
        Page:
          type: number
          description: See the section <b>"Paging of results"</b> at the beginning of the document.
          format: int32
        PageSize:
          type: number
          description: See the section <b>"Paging of results"</b> at the beginning of the document.
          format: int32
  securitySchemes:
    Exclaimer:
      type: apiKey
      name: ExApiToken
      in: header
security:
- Exclaimer: []
